parameters:
    level: 0
    disallowedFunctionCalls:
    	-
    			function: 'dd()'
    			message: 'dd() will cause problems in production'
    	-
    			function: 'dump()'
    			message: 'usually problematic'

#    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - ./src

    excludePaths:

includes:
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
